@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #ffffff;
  overflow: hidden;
  /* Prevent scrolling for the canvas app */
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

@theme {
  --color-glass-100: rgba(255, 255, 255, 0.1);
  --color-glass-200: rgba(255, 255, 255, 0.2);
  --color-glass-300: rgba(255, 255, 255, 0.3);
  --color-glass-dark: rgba(0, 0, 0, 0.5);

  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-neon-pink: #ff0055;

  --backdrop-blur-xs: 2px;

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}